.main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 90vh;
  width: 100%;
  color: var(--font);
}

h1.title {
  margin: 0.5em;
}

h2.title {
  margin: 1em;
}

.link {
  background-color: var(--primary);
  border: none;
  border-radius: 0.5em;
  padding: 0.5em 1em;
  margin: 50px;
  color: var(--darkFont);
  text-decoration: none;
}
