/* Header & Navigation */

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 38px;
  width: 100%;
  color: var(--background);
  z-index: 3;
}

ul {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 2px solid var(--primary);
  border-radius: 10px;
  background-color: white;
  box-shadow: -10px 4px 0px 1px gray;
}

li {
  list-style: none;
  width: 75px;
}

li a {
  height: 100%;
  width: 100%;
  border-radius: 8px;
  color: var(--darkFont);
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;
  font-family: "Cousine", sans-serif;
  cursor: pointer;
}

.active {
  background-color: var(--primary);
}

/* Toggle for Darkmode */

.toggleBox {
  background-color: var(--background);
  height: 80%;
  margin-left: 2vw;
  width: 55px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  align-self: center;
  cursor: pointer;
  border: 3px solid var(--primary);
}

.toggleBoxActive {
  justify-content: flex-end;
  border: 3px solid var(--primary);
}

.toggleInner {
  background-color: var(--font);
  height: 19px;
  width: 19px;
  margin: 5px;
  border-radius: 50%;
}

/* Footer */

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3vh;
  padding: 1em;
  font-size: 0.7rem;
  background-color: rgb(192, 192, 192);
}

@media (hover: hover) {
  li a:hover {
    background-color: var(--primaryLight);
    border: 2px solid var(--primaryLight);
  }
}

@media (min-width: 576px) {
  li {
    width: 85px;
  }
}
