.main {
  position: relative;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main .container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, 1fr);
  gap: 5px;
  justify-content: center;
  justify-items: center;
}

.workItemBox {
  width: 320px;
  min-height: 320px;
  border-radius: 30px;
  color: var(--darkFont);
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1vw;
  box-shadow: 0px 0px 5px 1px rgb(167, 167, 167);
  transition: background-color 1s ease, color 0.2s ease, border 0.4s ease;
}

.screenshot {
  width: 80%;
  min-height: 200px;
  border-radius: 10px;
  text-decoration: none;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  margin: 1em;
  transition: transform 1s ease;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  z-index: 2;
  padding: 0.5em;
  font-size: 0.8em;
}

.text * {
  padding: 0.5em;
}

.links {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  margin: 1em;
}

.icon {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid var(--darkFont);
  background-color: white;
  margin: 0.5em;
}

.icon img {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

.linkToSite {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--darkFont);
  border: 2px solid var(--darkFont);
  border-radius: 5px;
  height: 40px;
  background-color: var(--white);
  margin: 0.5em;
}

.collabLinks {
  color: var(--darkFont);
  padding: 0;
  display: inline;
}

@media (min-width: 768px) {
  .main div {
    grid-template-columns: repeat(2, 1fr);
    max-width: 700px;
  }
}

@media (hover: hover) {
  .links * {
    transition: transform 1s ease;
  }

  .links *:hover {
    transform: scale(1.15);
  }

  .screenshot:hover {
    transform: scale(1.1);
  }

  .workItemBox:hover {
    background-color: var(--blue);
  }
}

@media (min-width: 576px) {
  .main .workItemBox {
    width: 350px;
    min-height: 350px;
  }
}
