@import url(https://fonts.bunny.net/css?family=niramit:400);
@import url(https://fonts.bunny.net/css?family=cousine:400);

/* COLORS: Light */

[data-theme="light"] {
  font-family: sans-serif;
  --background: white;
  --primary: #ffd43b;
  --primaryLight: hsl(47, 100%, 82%);
  --secondary: #504077;
  --font: rgb(8, 10, 37);
}

/* COLORS: Dark */

[data-theme="dark"] {
  --background: rgb(8, 10, 37);
  --primary: #ffd43b;
  --primaryLight: hsl(47, 100%, 82%);
  --secondary: rgb(134, 153, 223);
  --font: white;
}

* {
  /* COLORS: Universal: */
  --darkFont: rgb(8, 10, 37);
  --white: white;
  --purple: #504077;
  --blue: rgb(134, 153, 223);

  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Niramit", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background);
  background-position: right bottom, left top;
}

h1,
h2.sectionTitle,
h4.sectionSubtitle {
  color: var(--font);
}

h2.sectionTitle {
  padding-bottom: 30px;
  font-family: sans-serif;
}

.icon {
  width: 1em;
  height: 1em;
}

/* Animations: Slide in */

@keyframes slideIn {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* <Animated> Component */
.animated {
  opacity: 0;
  transition: opacity 0.5s ease-out, transform 1s ease-out;
}

.slide-in {
  animation: slideIn 0.5s forwards;
}

/* <AnimatedTurn> Component */
.animatedTurn {
  transition: transform 1s ease-out;
}

.turn-around {
  transform: rotate(-8deg);
  opacity: 1;
}

.turn-around:hover {
  transform: rotate(0);
}
