@import url(https://fonts.bunny.net/css?family=niramit:400);
@import url(https://fonts.bunny.net/css?family=cousine:400);

[data-theme="light"] {
  font-family: sans-serif;
  /* --grey: rgb(59, 59, 59); */
  /* --fullYellow: #ffd43b; */
  /* --lightYellow: rgb(247, 240, 159); */
  --background: white;
  --primary: #ffd43b;
  --primaryLight: hsl(47, 100%, 82%);
  --secondary: #504077;
  --font: rgb(8, 10, 37);
  --darkFont: rgb(8, 10, 37);
  --white: white;
}

[data-theme="dark"] {
  --background: rgb(8, 10, 37);
  --primary: #ffd43b;
  --primaryLight: hsl(47, 100%, 82%);
  --secondary: rgb(134, 153, 223);
  --font: white;
  --darkFont: rgb(8, 10, 37);
  --white: white;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Niramit", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background);
  background-position: right bottom, left top;
}

h1,
h2.sectionTitle,
h4.sectionSubtitle {
  color: var(--font);
}

h2.sectionTitle {
  padding-bottom: 30px;
  font-family: sans-serif;
}

.icon {
  width: 1em;
  height: 1em;
}
